import type { ReactNode } from 'react';

import { cx } from 'classix';

import './styles/{{pascalCase name}}.css';

type {{pascalCase name}}Props = {
  className?: string;
  children: ReactNode;
  'data-test-id'?: string;
};

const {{pascalCase name}} = ({ children, className, 'data-test-id': testId = '{{pascalCase name}}' }: {{pascalCase name}}Props) => {
  return (
    <div className={cx('{{pascalCase name}}', className)}>
      <span>{children}</span>
    </div>
  );
};

export { {{pascalCase name}} };
export type { {{pascalCase name}}Props };
