import type { HTMLAttributes } from 'react';

import { cx } from 'classix';

import styles from './styles/{{pascalCase name}}.module.css';

type {{pascalCase name}}Props = HTMLAttributes<HTMLDivElement> & {
  'data-test-id'?: string;
};

const {{pascalCase name}} = ({ children, className, 'data-test-id': testId = '{{kebabCase name}}' }: {{pascalCase name}}Props) => {
  return (
    <div className={cx(styles.{{camelCase name}}, className)} data-test-id={testId}>
      <span>{children}</span>
    </div>
  );
};

export { {{pascalCase name}} };
export type { {{pascalCase name}}Props };
